body{
	margin: 0;
	display: flex;
	flex-direction: column;
}
.headerPart .titleAndButtonRow{
	background-color: white;
	display: flex;
	flex-direction: row;
}
.headerPart .titleAndButtonRow h2{
	margin-right: 50px;
	margin-left: 20px;
}
.headerPart .titleAndButtonRow button{
	width: 200px;
	border: 0px;
	padding-top: 20px;
	font-size: 25px;
}
.headerPart .titleAndButtonRow img{
	width: 100px;
	margin-right: 150px;
}
.headerPart{
	background-color: #191b24;
	width: 100%;
	height:160px;
}
.middlePart{
	height: 1000px;
	border-radius: 5px;
	border: 5px solid black;
	margin: 50px;
}
.footerPart{
	background-color: #191b24;
	width: 100%;
	height: 100px;
}
