header{
	background: #f7ffeb;
	width : 100%;
	height : 60px;
	text-align: center;
	margin: 0;
	color: black;
	top:0;
	font-family: Arial;
}
body{
	margin: -20px;
}
.middlePart{
	display:flex;
	flex-direction: row;
	background-color: white;
	height : 1000px;
	width: 100%;
}
.middlePart .sidebar{
	display:flex;
	flex-direction: column;
	height: 100%;
	width: 200px;
	background-color: #bbfccc;
}
.middlePart .sidebar a{
	border: 15px solid lightblue;
	margin: 10px;
}
.middlePart .mainBox{
	background-color:red;
	width:100%;
	height:100%;
}
footer{
	width: 100%;
	height:50px;
	background-color: purple;
	position: fixed;
	bottom: 0;
}
